footer(class='bg-white text-primary pb-14 pt-28')
    div(class='container grid lg:grid-cols-5 lg:gap-4')
        div(class='')
            img(src=dirAssets + '/kiler-logo-dark.png' alt='kiler iplik logo' class='w-[200px] lg:w-[260px]')
        div(class='flex justify-center border-r-2')
            ul(class='flex flex-col gap-4 font-bold')
                li
                    a(href='#') Anasayfa
                li
                    a(href='#') Hakkımızda
                li
                    a(href='#') Vizyonumuz
                li
                    a(href='#') Misyonumuz
        div(class='flex justify-center border-r-2')
            ul(class='flex flex-col gap-4 font-bold')
                li
                    a(href='#') Open - End İplik Üretimi
                li
                    a(href='#') Ring İplik Üretimi
                li
                    a(href='#') Üretim Tesisimiz
                li
                    a(href='#') Ar-Ge Yatırımı
        div(class='flex justify-center border-r-2')
            ul(class='flex flex-col gap-4 font-bold')
                li
                    a(href='#') Açılış ve Basın Yansımaları
                li
                    a(href='#') Galeri
        div(class='flex justify-center')
            div(class='flex flex-col')
                div(class='font-bold') İletişim
                hr(class='my-4')
                p 
                    | Emniyet Evleri Mah. Eski Büyükdere Cad.No:1/1 Kat:7 34415 Kağıthane/İSTANBUL
                p
                    a(href='tel:+902124567070') (0212) 456 70 70
                p
                    a(href='mailto:bilgi@kileriplik.com') bilgi@kileriplik.com

    div(class='container mt-4 grid lg:grid-cols-5 lg:gap-4 lg:mt-8')
        div 
        div(class='lg:flex lg:justify-center')
            a(href='#') Aydınlatma Metni
        div(class='lg:flex lg:justify-center')
            a(href='#') KVKK Başvuru Formu
        div(class='lg:flex lg:justify-center')
            a(href='#') KVKK Politikası
        div(class='lg:flex lg:justify-center')
            a(href='#') Çerez Politikası
