footer(class='bg-white text-primary pb-8 pt-14 lg:pt-28')
    div(class='container bg-white grid gap-4 lg:grid-cols-5 lg:gap-4')
        div(class='flex justify-center lg:block')
            a(href='/')
                img(src=dirAssets + '/kiler-logo-dark.png' alt='kiler iplik logo' class='w-[200px] lg:w-[260px]')
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/') Anasayfa
                li
                    a(href='/hakkimizda.html') Hakkımızda
                li
                    a(href='/vizyon-misyon.html') Vizyonumuz
                li
                    a(href='/vizyon-misyon.html') Misyonumuz
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/open-end-iplik-uretim.html') Open - End İplik Üretimi
                li
                    a(href='/ring-iplik-uretim.html') Ring İplik Üretimi
                li
                    a(href='/tesis.html') Üretim Tesisimiz
                li
                    a(href='/ar-ge-yatirim.html') Ar-Ge Yatırımı
        div(class='flex justify-center lg:border-r-2 lg:border-b-0 border-b-2 border-r-0 border-primary py-4 lg:py-0 lg:px-3')
            ul(class='flex flex-col gap-4 font-bold items-center lg:items-start')
                li
                    a(href='/haberler.html') Açılış ve Basın Yansımaları
                li
                    a(href='/galeri.html') Galeri
        div(class='flex justify-center')
            div(class='flex flex-col items-center max-w-72 lg:max-w-max lg:items-start')
                a(href="/iletisim.html" class='font-bold border-b-2 border-primary') İletişim
                hr(class='my-1')
                p 
                    | Emniyet Evleri Mah. Eski Büyükdere Cad.No:1/1 Kat:7 34415 Kağıthane/İSTANBUL
                p
                    a(href='tel:+902124567070') (0212) 456 70 70
                p
                    a(href='mailto:bilgi@kileriplik.com') bilgi@kileriplik.com

    div(class='container bg-white mt-4 grid gap-2 lg:grid-cols-5 lg:gap-4 lg:mt-12')
        div 
        div(class='flex justify-center')
            a(href='#') Aydınlatma Metni
        div(class='flex justify-center')
            a(href='#') KVKK Başvuru Formu
        div(class='flex justify-center')
            a(href='#') KVKK Politikası
        div(class='flex justify-center')
            a(href='#') Çerez Politikası
