extends layouts/default.pug

block prepend head
    - var pageTitle = "KİLER İPLİK - Bitlis'te 'Kamu ve Özel Sektör Yatırımları Toplu Açılış Töreni' düzenlendi"
    - var pageDescription = "Bitlis'te 'Kamu ve Özel Sektör Yatırımları Toplu Açılış Töreni' düzenlendi"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    //- img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    block video
      include ./includes/video
    div(class='banner-title') 
      h1
        | "Public and Private Sector Investments Mass Opening Ceremony" was held in Bitlis


  section(class='container py-12')
    div(class="flex justify-center items-center")
      a(href='/en/news.html' class='mr-auto flex items-center hover:underline') 
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="currentColor"><path d="M640-93.85 253.85-480 640-866.15l56.77 56.77L367.38-480l329.39 329.38L640-93.85Z"/></svg>
        span Back

    h2(class='text-center text-2xl lg:text-3xl font-bold py-8 lg:py-12')
      | "Public and Private Sector Investments Mass Opening Ceremony" was held in Bitlis
    div(class='') 
      p(class='mb-2 lg:mb-4')
        | Minister of Industry and Technology Mehmet Fatih Kacır said, "While the whole world is going through global economic contractions and crises, we are adding strength to our power with our political stability and adding new ones to our century-worthy development initiatives."
      
      div(class='aspect-1200/720 rounded-3xl overflow-hidden my-4')
        img(src=dirAssets + 'bitlis-kamu-ozel-toplu-acilis-toreni.jpg' alt='index-1' class='w-full h-full object-cover')
      p(class='mb-2 lg:mb-4')
        | A "Public and Private Sector Investments Mass Opening Ceremony" was held in Bitlis with the participation of President Recep Tayyip Erdoğan.
      p(class='mb-2 lg:mb-4')
        | Speaking at the ceremony held in front of the Kiler Yarn Factory, Minister of Industry and Technology Mehmet Fatih Kacır said that each factory being opened would make a great contribution to the economic development of the region.
      p(class='mb-2 lg:mb-4')
        | Kacır, who stated that they are experiencing the joy of bringing new values to Kubbetü'l Islam on the 953rd anniversary of the Blessed Victory of Malazgirt, said "Under the leadership and determination of our President, we are going through days where we are the voice of the era just like 953 years ago, where we are once again engraving our power into history. We are saying 'we are here' to the whole world, to all nations. We continue on our path with the goal of a bigger, stronger and more prosperous Turkey in the Turkish Century, in the second century of our Republic."
      p(class='mb-2 lg:mb-4')
        | Referring to investments made in industry, Kacır noted the following:
      p(class='mb-2 lg:mb-4')
        | "While the whole world is going through global economic contractions and crises, we are adding strength to our power with our political stability and adding new ones to our century-worthy development initiatives. Following the determined steps we have taken in the last 22 years, we have made our country a global production center with the strong infrastructure we have established in Turkish industry. We have become the world leader in military unmanned aerial vehicle production and first in Europe in commercial vehicles, solar panels, and white goods production. In 22 years, we increased the number of organized industrial zones from 191 to 360. We have built a Turkish industry that has increased the number of industrial areas in production in OIZs from 11 thousand to 58 thousand, and employment from 415 thousand to 2 million 700 thousand."
      p(class='mb-2 lg:mb-4')
        | Kacır, who said "From Bayraktar TB2 to Akıncı, from Bayraktar TB3 to Anka, from Aksungur to Kızıl Elma, from Atak to Kaan, we have eradicated terrorism from our homeland with the steel wings of the Turks," stated that they have evaluated the technological paradigm shifts that led the country to success in the defense industry as an opportunity and carried this approach to civilian areas as well.

      h2(class="mb-1 text-xl font-bold") "Şehirlerimiz birer üretim üstüne dönüşmüş durumda"
      p(class='mb-2 lg:mb-4')
        | Reminding that they have brought the domestic and national automobile Togg to the public, Kacır emphasized that they are determined to carry Turkey to a higher league in high-tech and value-added production in the world.

      p(class='mb-2 lg:mb-4')
        | Kacır expressed that while carrying the country above the level of contemporary civilizations in line with the national technology initiative goals, they did not leave behind any of the 7 regions and 81 provinces.
      p(class='mb-2 lg:mb-4')
        | Expressing that Eastern and Southeastern Anatolia have received their fair share in the journey of growth and development, Kacır continued his words:
      p(class='mb-2 lg:mb-4')
        | "When we think of the East, it brings to mind our gateway to Anatolia, our deed to these lands. We know that the sun rises from the east. These lands, which have hosted ancient civilizations and ultimately became a Turkish homeland for thousands of years, have now become the center of economic growth, development, and production. With the climate of trust and investment environment we have created in the last 22 years, our cities in Eastern and Southeastern Anatolia have transformed into production centers. During this period, Batman's exports increased 597-fold from 600 thousand dollars to 359 million dollars. Diyarbakır's exports increased 47-fold from 7 million dollars to 329 million dollars, and Gaziantep's exports rose from 619 million dollars to 10.7 billion dollars. During the same period, we paved the way for 124 billion liras of investment and 103 thousand jobs with 2,425 investment incentive certificates in Şanlıurfa, 44 billion liras of investment and 47,500 jobs with 776 investment incentive certificates in Van, 24.3 billion liras of investment and 30,600 jobs with 546 investment incentive certificates in Bitlis, and 42 billion liras of investment and 13,600 jobs with 341 investment incentive certificates in Bingöl."

      h2(class="mb-1 text-xl font-bold") "We will never leave Asım's generation, the Turkish youth, alone on the journey of national technology initiative"
      p(class='mb-2 lg:mb-4')
        | Kacır said, "In Bitlis, we are opening 31 production facilities, including 8 in our OIZ which is the heart of production in our city. Our 11 factories, with a total investment value of 6.5 billion liras, will provide employment opportunities for more than 2,300 citizens. These production facilities, which will operate in many areas from yarn to logistics, from food to defense industry, to apparel, will undoubtedly add strong momentum to Bitlis's production and development journey."

      p(class='mb-2 lg:mb-4')
        | Stating that when the Bitlis Kiler Yarn Factory reaches full production capacity, it will achieve a daily yarn production of 50 tons and provide employment for 400 people, Kacır continued his speech:
      p(class='mb-2 lg:mb-4')
        |"This magnificent facility will add strength to our country's production infrastructure, which is already among the world's leading producers in yarn production, one of the key inputs of our textile sector. The facility, which will create a significant leap in our city's growth and our sector's exports, will be a symbol of our development initiative that we are carrying out on the path of investment, employment, production and exports. With the new investments we will bring to these lands, this unique geography with its developing economy will be our daylight and hope in the Turkish Century. Under the leadership of our President Recep Tayyip Erdoğan, in the Turkish Century, together with our youth, despite those who say 'you cannot do it, you cannot succeed', we will protect the heritage of our ancestors and we will never leave Asım's generation, the Turkish youth, alone on the journey of national technology initiative."

      h2(class="mb-1 text-xl font-bold") "We will contribute to our province's tourism"
      p(class='mb-2 lg:mb-4')
        | Minister of Transport and Infrastructure Abdulkadir Uraloğlu wished that the facilities they opened would be beneficial.
      p(class='mb-2 lg:mb-4')
        | Uraloğlu, who stated that they will build roads and bridges to the City Hospital under construction in Bitlis, expressed that they have built an additional 289 kilometers of divided roads in the province, which had only 19 kilometers of divided roads in 2002.
      p(class='mb-2 lg:mb-4')
        | Uraloğlu, who stated that they have made investments worth 58 billion liras in Bitlis as a ministry, said "When we look at previous governments' periods, we have made 20 times more investment in Bitlis. Now, what have we done? Have we completed the Van road? Yes, we have. We completed the Bitlis-Diyarbakır road and the Bitlis Stream Viaduct. The Diyarbakır road is almost done. We will complete a significant portion this year and the rest next year. We will open it to traffic as well. Our work continues."
      p(class='mb-2 lg:mb-4')
        | Uraloğlu, who said "Currently, it takes a vehicle 40 minutes to pass through Tatvan. When we complete the Tatvan ring road, this duration will decrease to 5 minutes," continued:
      p(class='mb-2 lg:mb-4') 
        | "Therefore, it's a very valuable project. We are talking about a 10-kilometer project. It has two tunnels inside. One is 1200 meters long, the other is 1300 meters long. There are viaducts. We will hopefully put these at your service. Our divided roads continue. Our work in Ahlat, Adilcevaz and Hizan, and the hot asphalt works in the center are progressing rapidly. We have ferries from Tatvan to Van. We reduced the travel time, which used to take 5.5-6 hours, to 3.5 hours. We increased the transported cargo approximately 5-6 times. We will contribute to our province's tourism. Bitlis has many touristic features. It has five minarets, a castle, beautiful structures. We are also making access to these structures easier. We made two tourist express services from Ankara to Tatvan. It will continue next year as well."
