extends layouts/default.pug

block prepend head
    - var pageTitle = "KILER YARN - Kiler Yarn Factory Will Begin Exports Towards the End of the Year"
    - var pageDescription = "Kiler Yarn Factory Will Begin Exports Towards the End of the Year"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    //- img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    block video
      include ./includes/video
    div(class='banner-title') 
      h1
        | KILER YARN FACTORY WILL BEGIN EXPORTS TOWARDS THE END OF THE YEAR

  section(class='container py-12')
    div(class="flex justify-center items-center")
      a(href='/en/news.html' class='mr-auto flex items-center hover:underline') 
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="currentColor"><path d="M640-93.85 253.85-480 640-866.15l56.77 56.77L367.38-480l329.39 329.38L640-93.85Z"/></svg>
        span Back

    h2(class='text-center text-2xl lg:text-3xl font-bold py-8 lg:py-12')
      | Kiler Yarn Factory Will Begin Exports Towards the End of the Year
    div(class='') 
      p(class='mb-2 lg:mb-4')
        | Vahit Kiler, Chairman of the Board of Kiler Yarn Investments Inc., said, "We are receiving orders from the domestic market who are aware of our product quality, and we will begin exports towards the end of the year."

      div(class='aspect-1200/720 rounded-3xl overflow-hidden my-4')
        img(src=dirAssets + 'bitlise-yatirim-1.webp' alt='index-1' class='w-full h-full object-cover')
      p(class='mb-2 lg:mb-4')
        | The Kiler Yarn Factory, an "Open-End and Ring-Yarn Production Facility" belonging to Kiler Textile Energy and Investment Inc., one of the Kiler Holding group companies, which was inaugurated by President Recep Tayyip Erdogan on August 25, will contribute to regional employment by operating with renewable energy.

      p(class='mb-2 lg:mb-4')
        | The first phase of the factory, which is built on a total area of 200,000 square meters with 60,631 square meters of enclosed space, was established with an investment of $85 million and started production with yarn. With the other phases of the factory, which is expected to be completed within three years, polyester and fabric production will also be carried out. Thus, while the investment amount will reach $200 million, the employment will increase to 1000 people.

      p(class='mb-2 lg:mb-4')
        | Thanks to the Kiler Yarn Factory, which will produce with world-famous Aegean cotton, it is planned to provide an annual contribution of $48 million to cotton farmers. With the facility, which is expected to generate an average annual turnover of $75 million, it is also expected to have an import-reducing effect with domestic sales.

      p(class='mb-2 lg:mb-4')
        | Moreover, the machinery and equipment used in the factory were specially produced considering the latest technology and energy efficiency.

      p(class='mb-2 lg:mb-4')
        | Vahit Kiler, Chairman of the Board of Kiler Yarn Investments Inc., who visited the factory, made statements to the press.

      p(class='mb-2 lg:mb-4')
        | Kiler expressed that they are firmly committed to Turkey's investment, employment, production, and export targets.

      p(class='mb-2 lg:mb-4')
        | Stating that although Kiler Holding has comprehensive investments in different sectors, the Kiler Yarn Factory has a special place for them, Kiler said, "Before bringing this investment to life, they asked us why we chose Bitlis, which is far from raw materials and has no market. Bitlis is where we were born and grew up. We don't want today's youth to experience the problems and poverty we experienced in our youth. Therefore, even though we will earn less, we brought this investment to life in Bitlis, our hometown. We didn't even request land incentives for this investment, although it was eligible for land incentives from the state."

      p(class='mb-2 lg:mb-4')
        | Kiler, who stated that they would have gained a 5% advantage if cotton was supplied from closer cities, emphasized that what matters to them is not making more profit but producing the highest quality yarn.

      p(class='mb-2 lg:mb-4')
        | Kiler said that they aim to sell to global brands in European countries, stating, "For this, we will offer the highest quality products with the best quality raw materials and production technology, and we will create a world brand from Bitlis. We have the capacity to produce all types of yarn between numbers 16 and 80. We are receiving orders from the domestic market who are aware of our product quality, and we will begin exports towards the end of the year."

      p(class='mb-2 lg:mb-4')
        | Emphasizing that they will turn the technological advantage in machinery and equipment into quality products, Kiler explained that the facility, which will meet all of its energy from renewable energy, complies with zero waste principles.

      p(class='mb-2 lg:mb-4')
        | Vahit Kiler expressed that there is more investment underground than above ground, stating that a 6-kilometer-long ventilation channel was built.

      p(class='mb-2 lg:mb-4')
        | - "As our region's peaceful environment strengthens, investments will progress even faster"

      p(class='mb-2 lg:mb-4')
        | Emphasizing that the people of Bitlis stood firm against terrorism for a long time, Kiler underlined that the results of the fight against terrorism under the leadership of President Recep Tayyip Erdogan have illuminated the future of Bitlis and the region.

      p(class='mb-2 lg:mb-4')
        | Kiler concluded his words as follows:

      p(class='mb-2 lg:mb-4')
        | "As the darkness of terrorism withdraws from our region, the potential of both our Bitlis and other provinces emerges. Today, our city is one of Turkey's five safest and most peaceful cities. There is no longer concern, there is trust. Trust means investment. As our region's peaceful environment strengthens, investments will progress even faster. As the Kiler family, we will continue to protect both Bitlis and our entire country. With various investments we have made in the last 22 years from education to health, from transportation to employment, and with the support given by our President, Bitlis is becoming a shining star in its region. With our belief in Turkey's rapidly advancing goals, we act with national responsibility awareness to reach the 'Turkish Century.' As the Kiler family, we have kept all our promises for Bitlis and our country until today. We will continue to do so. My brothers and I were born and grew up in Bitlis. Our hometown is always on our minds. That's why we make these investments for Bitlis to raise beneficial youth for our homeland. Bitlis and Turkey belong to all of us, and we will build an even brighter future for our youth together."
