extends layouts/default.pug

block prepend head
    - var pageTitle = "KİLER İPLİK - Kiler İplik Open-End ve Ring İplik Üretim Tesisi Açılışı ve Basın Yansımaları"
    - var pageDescription = "Kiler İplik Open-End ve Ring İplik Üretim Tesisi Açılışı ve Basın Yansımaları"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    //- img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    video(src=dirAssets + 'kiler_iplik_2.mp4' autoplay loop muted class='w-full h-full object-cover')
    div(class='banner-title') 
      h1
        | Kiler İplik Open-End ve Ring İplik Üretim Tesisi Açılışı ve Basın Yansımaları

  section(class='container py-12')
    div(class="flex justify-center items-center")
      a(href='/en/news.html' class='mr-auto flex items-center hover:underline') 
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="currentColor"><path d="M640-93.85 253.85-480 640-866.15l56.77 56.77L367.38-480l329.39 329.38L640-93.85Z"/></svg>
        span Geri
      img(src=dirAssets + 'sabah.png' alt='logo' class='max-w-[200px] mr-auto')

    h2(class='text-center text-2xl lg:text-3xl font-bold py-8 lg:py-12')
      | "Open-End and Ring Yarn Production Facility"
      | was opened with the honor of our President
      | Mr. Recep Tayyip Erdoğan.
    div(class='') 
      p(class='mb-2 lg:mb-4')
        | The "Open-End and Ring Yarn Production Facility", brought to life in Bitlis with an investment of 85 million dollars by Kiler Holding, was opened with the honor of President Recep Tayyip Erdoğan. The Facility, which will obtain all of its energy from 'renewable energy', aims to contribute to Bitlis's employment with a 65 percent female employee ratio.
      
      div(class='aspect-1200/720 rounded-3xl overflow-hidden my-4')
        img(src=dirAssets + 'news-detail.jpg' alt='index-1' class='w-full h-full object-cover')
      
      p(class='mb-2 lg:mb-4')
        | The "Open-End and Ring Yarn Production Facility" belonging to Kiler Tekstil Enerji ve Yatırım A.Ş., one of 
        | Kiler Holding's group companies, was built on a total area of 200,000 square meters (equivalent to 28 football 
        | fields), with 60,631 square meters (approximately 8.5 football fields) of indoor space.
      p(class='mb-2 lg:mb-4')
        | Speaking at the opening of Kiler Yarn Factory, which is Turkey's largest yarn production facility under a single roof,
        | Kiler Holding Vice Chairman Vahit Kiler said, "As the Kiler family, we see every investment we make and
        | every step we take as serving our country's economy and national independence."
      p(class='mb-2 lg:mb-4')
        | Emphasizing that they see reaching the "Turkish Century" in line with Turkey's investment, employment, 
        | production and export goals as a national responsibility, Vahit Kiler stated that the Kiler Yarn Factory, which 
        | will contribute to the production and employment of Bitlis, Turkey's 3rd poorest province in terms of per capita 
        | income distribution, is a source of pride for them.
      p(class='mb-2 lg:mb-4')
        | Kiler Holding Vice Chairman Vahit Kiler continued his words:

        | "The female employee ratio at our Facility, which provides direct employment to 400 people, is 65 percent. We are pleased 
        | that we will contribute not only to Bitlis's employment but also to our country's female employment. While we continue 
        | working to make Bitlis the 'shining star' of its region, we will also continue on our path to generate value for our 
        | country's national economy.
      p(class='mb-2 lg:mb-4')
        | We plan to contribute 48 million dollars annually to cotton farmers by sourcing the cotton to be used in 
        | production from the Aegean and Çukurova regions. Additionally, with our projected annual turnover of 75 
        | million dollars, we expect domestic sales to have an import-reducing effect."
      p(class='mb-2 lg:mb-4')
        | The machinery and equipment used in the Kiler Yarn Factory were specially manufactured considering the latest 
        | technology and energy efficiency. The Facility, which will obtain all of its energy from 'renewable energy', is 
        | expected to have a positive impact on the region's income distribution and economic development.
      p(class='mb-2 lg:mb-4')
        | Vahit Kiler: "We continue to keep our word!"
      p(class='mb-2 lg:mb-4')
        | Reminding that they continue to keep their promise made at Bitlis Hikmet Kiler Science High School, which was 
        | opened by President Erdoğan in 2008, Vahit Kiler stated:
      p(class='mb-2 lg:mb-4')
        | "We continue to keep our promise made to our President at the opening of the school we built in the name of 
        | our late father Hikmet Kiler. We provide scholarships to all students from Bitlis Hikmet Kiler Science High 
        | School who enter university during their education. Our students also know that when they graduate, if they 
        | wish, they have jobs ready for them in our group companies!"