extends layouts/default.pug

block prepend head
    - var pageTitle = "KİLER İPLİK - GALERİ"
    - var pageDescription = "GALERİ"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    div(class='banner-title') 
      h1 
        | GALERİ

  div(class='container mb-8 lg:mb-12 lg:max-w-screen-lg mt-24')
    div(class='swiper swiper-trigger !pb-12')
      div(class='swiper-wrapper')
        div(class='swiper-slide')
          div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
            img(src=dirAssets + 'slide-2.jpg' alt='slide-2' class='w-full h-full object-cover')
        div(class='swiper-slide')
          div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
            img(src=dirAssets + 'slide-1.jpg' alt='slide-1' class='w-full h-full object-cover')
        div(class='swiper-slide')
          div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
            img(src=dirAssets + 'slide-3.jpg' alt='slide-3' class='w-full h-full object-cover')
      div(class='swiper-pagination')
      div(class='swiper-button-prev')
      div(class='swiper-button-next')

