extends layouts/default.pug

block prepend head
    - var pageTitle = "Page Meta Title"
    - var pageDescription = "Page Meta Desc"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    h1(class='absolute bottom-0 mb-8 w-full flex justify-center text-2xl lg:inline-block lg:pl-24 lg:text-3xl font-bold') AR-GE YATIRIMI

  section(class='container max-w-screen-md py-12')
    p(class='text-center') 
      | İşletmenin sürdürülebilir büyüme ve başarısı için AR-GE bölümümüz vazgeçilmez bir faktördür. Kiler İplik Ar-Ge bölümümüz, ürettiğimiz ipliklerin kalitesini ve performansını en üst düzeyde tutmak için büyük bir titizlikle çalışmaktadır. İpliklerimiz, dayanıklılık, esneklik, renk tutuculuk ve aşınma direnci gibi özelliklerin test edildiği kapsamlı kalite kontrol süreçlerinden geçmektedir. Son teknolojiye sahip laboratuvarlarımızda gerçekleştirilen bu testler, müşterilerimize uluslararası standartlarda ürünler sunmamızı sağlamaktadır.

  section(class='swiper-section relative lg:pt-4 lg:pb-12 before:bg-secondary before:absolute before:right-0 before:top-0 before:left-1/3 before:h-full before:rounded-tl-3xl before:rounded-br-3xl before:-z-10')
    div(class='container text-center')
      h2(class='text-lg py-4 lg:py-6 lg:text-xl')
        | AR-GE YATIRIMI GÖRSELLERİ
    div(class='container mb-8 lg:mb-12 lg:max-w-screen-lg')
      div(class='swiper-container pb-12')
        div(class='swiper-wrapper')
          div(class='swiper-slide')
            div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
              img(src=dirAssets + 'slide-1.jpg' alt='slide-1' class='w-full h-full object-cover')
          div(class='swiper-slide')
            div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
              img(src=dirAssets + 'slide-2.jpg' alt='slide-2' class='w-full h-full object-cover')
          div(class='swiper-slide')
            div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
              img(src=dirAssets + 'slide-3.jpg' alt='slide-3' class='w-full h-full object-cover')
        div(class='swiper-pagination')
        div(class='swiper-button-prev')
        div(class='swiper-button-next')

