extends layouts/default.pug

block prepend head
    - var pageTitle = "Page Meta Title"
    - var pageDescription = "Page Meta Desc"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-390/572 lg:aspect-1920/1080')
    img(src=dirAssets + 'kiler-anasayfa.jpg' alt='anasayfa' class='w-full h-full object-cover')
