extends layouts/default.pug

block prepend head
    - var pageTitle = "KİLER İPLİK - VİZYONUMUZ - MİSYONUMUZ"
    - var pageDescription = "VİZYONUMUZ - MİSYONUMUZ"
    - var pageName = "Home"
    - var pageClass = "page-body-class"

block content
  div(class='aspect-square lg:aspect-1920/560 relative -z-10')
    //- img(src=dirAssets + 'banner.jpg' alt='anasayfa' class='w-full h-full object-cover')
    block video
      include ./includes/video
    div(class='banner-title') 
      h1 
        | VİZYONUMUZ - MİSYONUMUZ

  h2(class='text-center text-2xl lg:text-3xl font-bold py-8 lg:py-12') VİZYONUMUZ
  
  div(class='flex flex-col gap-10 lg:gap-24')
    section(class='section-bg-reverse')
      div(class='container')
        div(class='section-row')
          div(class='lg:w-1/2')
            div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
                img(src=dirAssets + 'vizyon-1.jpg' alt='vizyon-1' class='w-full h-full object-cover')
          div(class='flex flex-col lg:items-end lg:w-1/2')
            div(class='section-title')
            h2(class='py-4 lg:py-6 text-2xl lg:text-3xl lg:text-right lg:max-w-[300px]')
                | ÜLKE EKONOMİSİNE
                | KATKI SAĞLAMAK
            div(class='section-content')
              p(class='text-lg lg:text-xl lg:text-right')
              | Üretimde kullanılacak pamuk Ege Bölgesi'nden temin edilmektedir. Bu sayede pamuk çiftçisine 48 milyon dolar katkı sağlanması öngörülmektedir. Yıllık ortalama 75 milyon dolar ciro hedefiyle yurt içi satışlarla ithalatın büyük ölçüde azaltılması ve ülkemize değer kazandırılması amaçlanmıştır.
    
    section(class='section-bg before:lg:rounded-bl-none')
      div(class='container')
        div(class='section-row')
          div(class='lg:w-1/2')
            div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
                img(src=dirAssets + 'vizyon-2.jpg' alt='vizyon-2' class='w-full h-full object-cover')
          div(class='flex flex-col lg:w-1/2')
            div(class='section-title')
              h2(class='py-4 lg:py-6 text-2xl lg:text-3xl lg:max-w-[300px]')
                | KADIN İSTİHDAMINI
                | ÖNEMSEMEK
            div(class='section-content')
              p(class='text-lg lg:text-xl lg:text-right')
              | Üretim tesisimizde kadın çalışanlara öncelik verilerek %65 oranında kadın istihdamı sağlanmıştır. Bu yaklaşım ile yalnızca Bitlis bölgesinde değil, Türkiye genelinde de kadın istihdamının önemi ve farklı sektörlerde de örnek alınarak kadın istihdamının artışına destek olunması hedeflenmiştir.

  h2(class='text-center text-2xl lg:text-3xl font-bold py-8 lg:py-12') MİSYONUMUZ  
  section(class='section-bg-reverse before:lg:rounded-br-none')
    div(class='container')
      div(class='section-row')
        div(class='lg:w-1/2')
          div(class='aspect-gallery rounded-3xl lg:rounded-[80px] overflow-hidden')
              img(src=dirAssets + 'misyon.jpg' alt='misyon' class='w-full h-full object-cover')
        div(class='flex flex-col lg:items-end lg:w-1/2')
          div(class='section-content')
            p(class='text-lg lg:text-xl lg:text-right')
            | Müsyonumuz, üretim, ihracat, istihdam ve büyümeyi desteklemek amacıyla, ülkemizin kalkınma hedefleriyle uyumlu tesisler geliştirmek ve değer yaratmaktır.
