header(class='grid grid-cols-3 items-center lg:py-8 lg:px-12 py-4 px-4 fixed top-0 w-full z-50')
    div(class='relative')
        div 
            a(href='/') Tr
            span /
            a(href='/en') En
        div(class='social-container absolute top-0 flex flex-col justify-between items-center h-[calc(100vh-130px)]')
            div(class='relative flex-1 flex justify-center bg-white w-[2px] mb-4 mt-8 shadow after:absolute after:bottom-0 after:w-[5px] after:bg-white after:h-1/2 after:rounded-md')
            ul(class='flex flex-col items-center gap-6')
                li
                    a(href='#' class='social-link')
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.97583 19.9516C7.28098 19.9516 6.92752 19.9401 5.86392 19.8915C4.90118 19.8476 4.15421 19.7047 3.44226 19.4279C2.74481 19.1569 2.19955 18.8021 1.67465 18.277C1.14954 17.7518 0.794708 17.2068 0.523987 16.5094C0.246735 15.7974 0.10379 15.0504 0.0601501 14.0877C0.0115356 13.0239 0 12.6704 0 9.97558C0 7.28074 0.0115356 6.92704 0.0601501 5.86345C0.10379 4.90049 0.246735 4.15373 0.523987 3.4418C0.794708 2.74412 1.14975 2.19932 1.67465 1.67442C2.19955 1.14906 2.74481 0.794231 3.44226 0.523525C4.15421 0.246716 4.90097 0.103558 5.86392 0.0596848C6.9248 0.0108376 7.27805 -0.000244141 9.97583 -0.000244141C12.6736 -0.000244141 13.0269 0.0108376 14.0882 0.0596848C15.0509 0.103558 15.7975 0.246716 16.5098 0.523525C17.2071 0.794231 17.7523 1.14952 18.277 1.67442C18.8021 2.19932 19.1572 2.74457 19.4283 3.4418C19.7049 4.15418 19.8478 4.90094 19.8922 5.86345C19.9408 6.92772 19.9516 7.28142 19.9516 9.97558C19.9516 12.6697 19.9408 13.0234 19.8922 14.0877C19.8478 15.05 19.7049 15.797 19.4283 16.5094C19.1572 17.2068 18.8021 17.7518 18.277 18.277C17.7523 18.8019 17.2071 19.1569 16.5098 19.4279C15.7975 19.7047 15.0509 19.8476 14.0882 19.8915C13.0244 19.9401 12.6709 19.9516 9.97583 19.9516ZM9.97583 1.80197C7.31128 1.80197 6.99603 1.81237 5.94623 1.86054C4.974 1.90487 4.44614 2.06725 4.09515 2.20361C3.62997 2.38454 3.29776 2.60051 2.94949 2.94902C2.60074 3.29752 2.38455 3.62973 2.20407 4.0947C2.06747 4.44615 1.90488 4.97421 1.86057 5.94554C1.81259 6.99557 1.80264 7.31083 1.80264 9.97558C1.80264 12.6406 1.81259 12.9558 1.86057 14.0054C1.90488 14.977 2.06747 15.505 2.20407 15.8565C2.38455 16.3217 2.60074 16.6537 2.94949 17.0024C3.29819 17.3511 3.62997 17.5669 4.09515 17.7476C4.44614 17.8842 4.97379 18.0465 5.94623 18.0908C6.99582 18.1388 7.31061 18.149 9.97583 18.149C12.641 18.149 12.9563 18.1388 14.0059 18.0908C14.9781 18.0465 15.5057 17.8842 15.8569 17.7476C16.3221 17.5669 16.6537 17.3511 17.0026 17.0024C17.3511 16.6537 17.5671 16.3217 17.7482 15.8565C17.8846 15.5052 18.047 14.9774 18.0913 14.0054C18.139 12.9527 18.1497 12.637 18.1497 9.97558C18.1497 7.31421 18.139 6.99873 18.0913 5.94554C18.047 4.97376 17.8846 4.44615 17.7482 4.0947C17.5671 3.62928 17.3511 3.29752 17.0026 2.94902C16.6537 2.60051 16.3221 2.38454 15.8569 2.20361C15.5055 2.06725 14.9776 1.90487 14.0059 1.86054C12.9561 1.81237 12.641 1.80197 9.97583 1.80197Z" fill="currentColor"/>
                            <path d="M9.97589 4.90552C7.17612 4.90552 4.90576 7.17542 4.90576 9.97587C4.90576 12.7761 7.17612 15.046 9.97589 15.046C12.7763 15.046 15.0462 12.7761 15.0462 9.97587C15.0462 7.17542 12.7763 4.90552 9.97589 4.90552ZM9.97589 13.2671C8.15829 13.2671 6.68469 11.7935 6.68469 9.97587C6.68469 8.15828 8.15829 6.68466 9.97589 6.68466C11.7935 6.68466 13.2671 8.15828 13.2671 9.97587C13.2671 11.7935 11.7935 13.2671 9.97589 13.2671Z" fill="currentColor"/>
                            <path d="M16.4962 4.65188C16.4962 5.31293 15.9604 5.84868 15.2991 5.84868C14.6383 5.84868 14.1025 5.31293 14.1025 4.65188C14.1025 3.99106 14.6383 3.45508 15.2991 3.45508C15.9604 3.45508 16.4962 3.99106 16.4962 4.65188Z" fill="currentColor"/>
                        </svg>

                li
                    a(href='#' class='social-link')
                        <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.30337 21.9888H6.73122V10.9008H9.82047L10.1497 7.18847H6.73122V5.07417C6.73122 4.19873 6.90694 3.85272 7.75365 3.85272H10.1497V-0.000244141H7.08379C3.78896 -0.000244141 2.30337 1.45075 2.30337 4.22836V7.18847H0V10.9474H2.30337V21.9888Z" fill="currentColor"/>
                        </svg>

                li
                    a(href='#' class='social-link')
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9892 17.8093L11.4945 8.37465L10.7607 7.30766L6.11505 0.558807L5.73035 -0.000244141H0.0224609L1.414 2.02269L7.59088 10.9971L8.32501 12.063L13.2879 19.2734L13.6729 19.8322H19.3809L17.9892 17.8093ZM14.3513 18.5411L9.19525 11.0498L8.46088 9.9835L2.47827 1.29086H5.05188L9.8902 8.32082L10.6245 9.38714L16.9249 18.5411H14.3513Z" fill="currentColor"/>
                            <path d="M8.4613 9.9834L9.19537 11.0497L8.32513 12.0629L1.64661 19.8321H0L7.59106 10.997L8.4613 9.9834Z" fill="currentColor"/>
                            <path d="M18.6938 -0.000244141L11.495 8.37488L10.6248 9.38713L9.89062 8.32082L10.7609 7.30766L15.6376 1.6319L17.0472 -0.000244141H18.6938Z" fill="currentColor"/>
                        </svg>

                li
                    a(href='#' class='social-link')
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.361816" y="6.08105" width="3.76454" height="12.1614" fill="currentColor"/>
                            <path d="M2.22583 4.48798C3.45538 4.48798 4.45209 3.48273 4.45209 2.24319C4.45209 1.00433 3.45538 -0.000244141 2.22583 -0.000244141C0.996216 -0.000244141 0 1.00433 0 2.24319C0 3.48273 0.996216 4.48798 2.22583 4.48798Z" fill="currentColor"/>
                            <path d="M10.1442 11.8583C10.1442 10.1484 10.931 9.13004 12.4379 9.13004C13.8221 9.13004 14.4872 10.1075 14.4872 11.8583V18.2424H18.2339V10.5421C18.2339 7.2844 16.3876 5.70947 13.8092 5.70947C11.2297 5.70947 10.1442 7.71907 10.1442 7.71907V6.08081H6.5332V18.2424H10.1442V11.8583Z" fill="currentColor"/>
                        </svg>

                li
                    a(href='#' class='social-link')
                        <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.14664 15.4912C4.94071 15.4139 3.50467 15.3442 2.62125 15.1624C2.02347 15.0414 1.50455 14.773 1.1243 14.3838C0.830111 14.0891 0.596102 13.6397 0.413973 13.016C0.258578 12.4965 0.197543 12.0641 0.111361 11.0082C-0.0210854 8.62522 -0.0523354 6.67692 0.111361 4.49974C0.247103 3.29774 0.312411 1.87049 1.21048 1.0378C1.63455 0.648361 2.12772 0.397331 2.68192 0.293755C3.54752 0.12957 7.23392 -0.000244141 11.0511 -0.000244141C14.859 -0.000244141 18.554 0.12957 19.4201 0.293755C20.1128 0.42379 20.7611 0.812996 21.1422 1.31506C21.9621 2.60413 21.9767 4.20687 22.0594 5.46067C22.0941 6.05816 22.0941 9.45045 22.0594 10.0477C21.9305 12.0293 21.8257 12.7303 21.5315 13.4572C21.3499 13.9163 21.195 14.1583 20.9258 14.4267C20.5041 14.8399 19.967 15.1144 19.3848 15.2142C15.7451 15.4881 12.6546 15.5475 9.14664 15.4912ZM14.7205 7.52906C12.6957 6.44692 10.7566 5.44348 8.77469 4.40476V10.619C10.8604 9.48528 13.0591 8.44656 14.7293 7.52047L14.7205 7.52906Z" fill="currentColor"/>
                        </svg>



    div.flex.items-center.justify-center
        a(href='/')
            img(src=dirAssets + '/kiler-logo.png' alt='kiler iplik logo' class='w-[200px] lg:w-[300px]')
    div(class='ml-auto')
        a(href='javascript:void(0)' class='flex items-center gap-2' id='open-navigation')
            span(class='')
                | Menu
            span(class='')
                img(src=dirAssets + '/hamburger.svg' alt='hamburger' class='w-[20px]')

                
div(id='navigation' class='flex-col items-center gap-6 p-10 z-50 lg:py-12 lg:px-12 bg-primary bg-opacity-20 backdrop-blur-xl w-full h-screen fixed top-0 right-0 lg:w-[350px]')
    div(class='flex justify-end w-full')
        a(href='javascript:void(0)' class='flex items-center gap-2' id='close-navigation')
            span(class='')
                | Menu
            span(class='')
                img(src=dirAssets + '/close.svg' alt='close' class='w-[20px]')
    ul(class='flex flex-col items-end w-full gap-6 mt-12 text-xl font-medium lg:mt-32')
        li.text-right
            a(href='/en')
                | Home
        li.text-right
            a(href='/about.html')
                | About
        li.text-right
            a(href='/ring-yarn-production.html')
                | Ring Yarn Production
        li.text-right
            a(href='/open-end-yarn-production.html')
                | Open-End Yarn Production
        li.text-right
            a(href='/production-facility.html')
                | Our Production Facility
        li.text-right
            a(href='/r-d-investment.html')
                | R&D Investment
        li.text-right
            a(href='/gallery.html')
                | Gallery
        li.text-right
            a(href='/news.html')
                | Opening and Press Releases
        li.text-right
            a(href='/contact.html')
                | Contact