//- DIRS
- var dirBase = ''
- var dirAssets = dirBase      + 'assets/'
- var dirFonts    = dirAssets  + 'fonts/'
- var dirImages   = dirAssets  + 'images/'
- var dirUploads  = dirBase      + 'uploads/'

//-PROJECT CFG
- var lang = "tr-TR"
- var dir = "ltr"
- var currency = "₺"
- var currencyText = "TL"

//-PAGE CFG
- var pageTitle = "Default Title"
- var pageDescription = "Default Description"
- var pageName = ""
- var pageClass = ""
- var footerEnable = "true"